<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        h1 {
            text-align: center;
            padding: 50px;
            width: 200px;
            margin: 15px;
            background-color: aquamarine;
            border-radius: 15px;
            font-size: 4rem;
        }

    </style>
    <title>Document</title>
</head>
<body>
    <div><h1><%= number1 %></h1></div>
    <div><h1><%= number2 %></h1></div>
    <div><h1><%= number3 %></h1></div>
    <div><h1><%= number4 %></h1></div>
    <div><h1><%= number5 %></h1></div>
    <div><h1><%= number6 %></h1></div>
    <div><h1><%= number7 %></h1></div>
    <div><h1><%= number8 %></h1></div>
    <div><h1><%= number9 %></h1></div>
    <div><h1><%= number10 %></h1></div>
    
</body>
</html>


